body {
  background-color: pink;

}

.wrapper {
  background-color: pink;
  height: 100vh;
}

#quote-box {
  min-width: 300px;
  max-width: 500px;
/*   width: auto; */
/*   min-height: 200px; */
  height: auto;
  margin: 10% auto;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
}

#container {
  min-width: 280px;
}

#text {
  padding 25px;
}

#button-box {
  margin-top: 40px;
}

#tweet-quote {
  background-color: #1DA1F2;
  border-radius: 5px;
  border: none;
}

.fa-twitter {
  background-color: #1DA1F2;
  font-size: 15px;
  padding: 5px 5px 5px 5px;
  color: white;
}

#new-quote {
  background-color: #1DA1F2;
  border-radius: 5px;
  border: none;
}

.fa-random {
  font-size: 15px;
  padding: 5px 5px 5px 5px;
  color: white;
}
